@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	display flex
------------------------------------------------------------*/
.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexAround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flexEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/*------------------------------------------------------------
	BACKGROUND-COLOR
------------------------------------------------------------*/
.bg-gray {
  background-color: #f5f5f5;
}

/*------------------------------------------------------------
	WIDTH
------------------------------------------------------------*/
.w100 {
  width: 100%;
}

.w132 {
  width: 132px;
}

.w180 {
  width: 180px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1080px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

.container {
  width: 1080px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
  background: #015294;
  color: #fff;
}

header .header_top h2, header .header_top p {
  font-size: 1.2rem;
  text-align: left;
}

header .header_top__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_top__right .ico-tel {
  height: 23px;
}

header .header_top__right .number {
  margin: 0 18px 0 9px;
}

header .header_top__right button {
  margin: 9px 0 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
}

header .header_top__right button a {
  margin-right: 8px;
}

header .header_bottom {
  background: #fff;
}

header .header_bottom .logo {
  margin: 15px 0;
}

header .header_bottom ul li {
  border-left: 1px solid #cecece;
  padding-bottom: 6px;
  position: relative;
}

header .header_bottom ul li p {
  padding: 0 24px;
}

header .header_bottom ul li p:before {
  content: '';
  width: 0;
  height: 4px;
  background-color: #009fbb;
  margin: 0 auto;
  display: block;
  bottom: -8px;
  left: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

header .header_bottom ul li p:hover:before {
  width: 96%;
  visibility: visible;
}

header .header_bottom ul li .active:before {
  visibility: visible !important;
  width: 96%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

header .header_bottom ul li:last-child {
  border-right: 1px solid #cecece;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  background-color: #002f64;
}

footer .main-footer {
  width: 100%;
}

footer .footer_top {
  background-color: #003c7f;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
}

footer .footer_top .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 35px;
  position: relative;
}

footer .footer_top .footer--logo p {
  margin-top: 20px;
}

footer .footer_top .footer--mail .top .col:nth-child(2) {
  margin: 0 54px;
}

footer .footer_top .footer--contact {
  position: relative;
}

footer .footer_top .footer--contact img {
  margin: 10px 0;
}

footer .footer_top .footer--contact p:last-child {
  line-height: 1.2;
}

footer .footer_top .footer--contact:before {
  content: '';
  position: absolute;
  left: -26px;
  width: 1px;
  height: 100%;
  background: #809ebf;
}

footer .footer_top .scrollUp {
  display: none;
  background: transparent;
  position: fixed;
  right: 45px;
  bottom: 90px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer_top .scrollUp:hover {
  opacity: 0.7;
}

footer .footer_bottom {
  color: #608fbf;
  font-size: 1.2rem;
  text-align: left;
  padding: 19px 0;
}

/*------------------------------------------------------------
	TITLE
------------------------------------------------------------*/
.c-title {
  padding: 80px 0 32px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.c-title img:last-child {
  margin-left: 15px;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.button {
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button a {
  color: #fff;
  cursor: pointer;
}

.btn-submit--1 {
  margin-top: 19px;
  background-color: #015294;
}

.btn-submit--2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0291aa;
}

.btn-submit--3 {
  margin-top: 12px;
  width: 100%;
  background-color: #fff;
}

.btn-submit--4 {
  width: 260px;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-submit--4 a {
  width: 100%;
  border-radius: 3px;
  background-color: #0291aa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 700;
}

.btn-submit--4 a:after {
  content: '';
  display: block;
  width: 10px;
  height: 7px;
  background: url("../img/arrow_down.png") no-repeat;
  margin-left: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-submit--4:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-submit--4:hover a {
  background-color: #fff;
  color: #0291aa;
  -webkit-box-shadow: inset 0px 0px 0px 2px #0291aa;
          box-shadow: inset 0px 0px 0px 2px #0291aa;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-submit--4:hover a:after {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: url("../img/arrow_down_hover.png") no-repeat;
}

.btn-submit--4:nth-of-type(2) {
  margin: 0 40px;
}

.btn-submit--4 .active {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #0291aa;
          box-shadow: inset 0px 0px 0px 2px #0291aa;
  color: #0291aa;
}

.btn-submit--4 .active:after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: url("../img/arrow_down_hover.png") no-repeat;
}

.btn-submit--5 {
  margin: 52px 0 130px;
  background: #0291aa;
  padding: 18px 60px;
  border-radius: 3px;
}

.btn-submit--5:hover {
  background: #00798e;
}

/*------------------------------------------------------------
	C-BOX
------------------------------------------------------------*/
.c-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.c-box__text {
  width: 50%;
  text-align: left;
  min-height: 353px;
}

.c-box__text .inside {
  width: 470px;
  height: 100%;
  position: relative;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-box__text .inside__right {
  margin-right: 70px;
  float: right;
}

.c-box__text .inside__left {
  margin-left: 70px;
  float: left;
}

.c-box__text .row-1 {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #015294;
}

.c-box__text .row-2 {
  font-size: 1.4rem;
}

.c-box__text .row-2 p {
  margin-bottom: 25px;
}

.c-box__img {
  width: 50%;
}

.c-box .photoCompany {
  background: url("../img/pic1.png") no-repeat center center;
  background-size: cover;
}

.c-box .photoCase {
  background: url("../img/pic2.png") no-repeat center center;
  background-size: cover;
}

.c-box .photoRecruit {
  background: url("../img/pic3.png") no-repeat center center;
  background-size: cover;
}

/*------------------------------------------------------------
	C-BOX-2
------------------------------------------------------------*/
.c-box-2 {
  text-align: left;
  padding: 60px 0;
}

.c-box-2--title {
  margin-bottom: 25px;
}

.c-box-2--title h2 {
  color: #025995;
  font-size: 2rem;
  border-bottom: 1px solid #025995;
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.c-box-2--title h3 {
  color: #009fbb;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-box-2--title h3 img {
  margin-right: 10px;
}

.c-box-2--list {
  font-size: 1.4rem;
}

.c-box-2--list .box__text p:nth-of-type(2) {
  margin: 25px 0;
}

.c-box-2--list .box__img {
  margin-left: 62px;
}

.c-box-2:first-child {
  margin-top: 60px;
}

.c-box-2:last-child {
  margin-bottom: 100px;
}

/*------------------------------------------------------------
	C-BOX-3
------------------------------------------------------------*/
.c-box-3 {
  text-align: left;
  padding: 40px;
  border: 1px solid #009fbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 80px;
}

.c-box-3__text {
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-box-3__text h2 {
  font-size: 2rem;
  color: #025995;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.c-box-3__text h2:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background-color: #009fbb;
  margin-right: 7px;
}

.c-box-3__text p {
  margin-bottom: 25px;
}

.c-box-3__text p:last-child {
  margin-bottom: 0;
}

.c-box-3__img {
  margin-left: 45px;
}

.c-box-3:first-child {
  margin-top: 120px;
}

.c-box-3:last-child {
  margin-bottom: 130px;
}

/*------------------------------------------------------------
	C-BOX-4
------------------------------------------------------------*/
.c-box-4 {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: left;
  margin: 120px auto 88px;
}

.c-box-4__img {
  width: 357px;
  height: 238px;
}

.c-box-4__img img {
  width: 100%;
}

.c-box-4__text {
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-box-4__text img {
  margin-bottom: 15px;
}

.c-box-4__text p:last-child {
  margin-top: 24px;
}

/*------------------------------------------------------------
	C-BOX-5
------------------------------------------------------------*/
.c-box-5 {
  text-align: left;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-box-5 p:last-child {
  margin: 25px 0 80px;
}

/*------------------------------------------------------------
	C-COMPANY in COMPANY SITE
------------------------------------------------------------*/
.c-company {
  text-align: left;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-company__text {
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.c-company__text p {
  margin-bottom: 25px;
}

.c-company__sign {
  text-align: right;
  margin-bottom: 38px;
}

.c-company__form {
  padding-bottom: 80px;
}

.c-company__intro {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.c-company__intro .intro-box__img {
  width: 249px;
  height: 178px;
  background: url("../img/company/bg_img.png") no-repeat;
}

.c-company__intro .intro-box__text {
  text-align: center;
  margin: 10px 0 50px;
  font-size: 1.4rem;
}

.c-company .map {
  width: 100%;
  padding-bottom: 130px;
}

.company__greeting {
  padding: 40px 0;
}

/*------------------------------------------------------------
	FORM
------------------------------------------------------------*/
.form__info {
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.form__info tr {
  border-top: 1px solid #d4d4d4;
}

.form__info tr td {
  padding: 25px 0 25px 39px;
}

.form__info tr .col-left {
  background-color: #e7f5ff;
  width: 216px;
  vertical-align: baseline;
  color: #025995;
}

.form__info tr .col-right {
  background-color: #fff;
}

.form__info tr:last-child {
  border-bottom: 1px solid #d4d4d4;
}

.form-2 {
  width: 100%;
  margin-top: 23px;
  text-align: left;
  border-collapse: collapse;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.form-2 input[type="text"], .form-2 textarea, .form-2 select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 51px;
  border: 1px solid #eaeaea;
  margin-bottom: 7px;
  padding-left: 20px;
}

.form-2 ::-webkit-input-placeholder, .form-2 option {
  /* Chrome/Opera/Safari */
  color: #b6b6b6;
}

.form-2 input[type="radio"] {
  margin: 17px 0;
}

.form-2 select {
  background-image: url("../img/btn_select.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-2 textarea {
  height: 153px;
  margin-bottom: 80px;
  padding-top: 15px;
}

.form-2 .col-left {
  width: 200px;
  vertical-align: baseline;
  color: #025995;
  padding-top: 16px;
}

.form-2 .col-left h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-2 .col-left h2:after {
  content: '必須';
  color: #fff;
  background-color: #0362a8;
  width: 41px;
  height: 23px;
  text-align: center;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-2 .col-right {
  padding-left: 32px;
}

.form-2 .col-right label {
  font-weight: bold;
}

.form-2 .col-right .text-1 {
  margin: 0 11px;
}

.form-2 .col-right .text-2 {
  margin-left: 6px;
}

.form-2 .col-right .text-2:nth-of-type(1) {
  margin-right: 74px;
}

/*------------------------------------------------------------
	C-CASE__BTN in CASE SITE
------------------------------------------------------------*/
.c-case__btn {
  margin: 120px 0 80px;
}

.c-case {
  text-align: left;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-case__title {
  text-align: center;
}

.c-case__title h2 {
  font-size: 2.3rem;
  color: #025995;
  border-bottom: 1px solid #025995;
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.c-case__content {
  margin-bottom: 80px;
}

.c-case__content__title {
  background: #e1f0fa;
  color: #025995;
  padding: 12px 0 14px 15px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.c-case__content:last-child {
  margin-bottom: 130px;
}

.c-case__content .product__text {
  width: 570px;
  text-align: left;
  border-collapse: collapse;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-case__content .product__text tr {
  border-bottom: 1px solid #d8d7d7;
}

.c-case__content .product__text tr:first-child {
  border-top: 1px solid #d8d7d7;
}

.c-case__content .product__text td {
  padding: 18px 0;
  font-size: 1.4rem;
}

.c-case__content .product__text .left {
  color: #025995;
  padding-left: 30px;
}

.c-case__product {
  display: none;
}

.c-case .tab_active {
  display: block;
}

/*------------------------------------------------------------
	C-RECRUIT
------------------------------------------------------------*/
.c-form--recruit {
  margin-top: 12px;
  padding-bottom: 80px;
}

.c-banner--recruit .container {
  height: 243px;
  background: url("../img/recruit/banner_guy.png") no-repeat;
  text-align: left;
  padding: 36px 0 40px;
}

.c-banner--recruit .container .title-img {
  margin: 0 0 30px 40px;
}

.c-banner--recruit .container button {
  margin-left: 40px;
  border-radius: 3px;
  background-color: transparent;
}

.c-banner--recruit .container button:hover .none {
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-banner--recruit .container button:hover .hover {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-banner--recruit .container button .none {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-banner--recruit .container button .hover {
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
