@charset "UTF-8";
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.c-cover img {
  width: 100%;
}

.cover_index {
  background: url("../img/main_img.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 756px;
}

/*------------------------------------------------------------
	C-CONTENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	C-NEWS
------------------------------------------------------------*/
.c-news {
  background-color: #e7f5ff;
  margin: 100px 0 20px;
  padding: 50px 0 54px;
}

.c-news__right {
  margin-left: 70px;
  font-size: 1.3rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

.c-news__right .row {
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-news__right .row .date {
  color: #0361a7;
  margin-right: 48px;
}

.c-news__right .row:last-child {
  margin-bottom: 0;
}
