@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1080px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}

.container {
	width: 1080px;
	margin: 0 auto;
	align-items: center;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
header {
	background: #015294;
	color: #fff;

	.header_top {
		h2, p {
			font-size: 1.2rem;
			text-align: left;
		}
		&__left {
		}

		&__right {
			align-items: center;
			.ico-tel {
				height: 23px;
			}
			.number {
				margin: 0 18px 0 9px;
			}
			button {
				margin: 9px 0 8px;
				align-items: center;
				background-color: transparent;
				cursor: pointer;
				a {
					margin-right: 8px;
				}
			}
		}
	}

	.header_bottom {
		background: #fff;
		.logo {
			margin: 15px 0;
		}

		ul {
			li {
				border-left: 1px solid #cecece;
				padding-bottom: 6px;
				position: relative;
				p {
					padding: 0 24px;

					&:before {
						content: '';
						width: 0;
						height: 4px;
						background-color: #009fbb;
						margin: 0 auto;
						display: block;
						bottom: -8px;
						left: 0;
						right: 0;
						position: absolute;
						visibility: hidden;
						transition: width .5s ease, background-color .5s ease;
					}

					&:hover:before {
						width: 96%;
						visibility: visible;
					}
				}

				.active:before {
					visibility: visible !important;
					width: 96%;
					transform-origin: left bottom;
				}

				&:last-child {
					border-right: 1px solid #cecece;
				}
			}
		}
	}
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/


/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/


/*------------------------------------------------------------
	side
------------------------------------------------------------*/


/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
	background-color: #002f64;
	.main-footer {
		width: 100%;
	}

	.footer_top {
		background-color: #003c7f;
		color: #fff;
		font-size: 1.2rem;
		text-align: left;

		.container {
			align-items: center;
			padding: 40px 0 35px;
			position: relative;
		}

		.footer--logo {
			p {
				margin-top: 20px;
			}
		}

		.footer--mail .top {
			.col:nth-child(2) {
				margin: 0 54px;
			}
		}

		.footer--contact {
			position: relative;
			img {
				margin: 10px 0;
			}
			p:last-child {
				line-height: 1.2;
			}

			&:before {
				content:'';
				position: absolute;
				left: -26px;
				width: 1px;
				height: 100%;
				background: #809ebf;
			}
		}

		.scrollUp {
			display: none;
			background: transparent;
			position: fixed;
			right: 45px;
			bottom: 90px;
			transition: all .3s;
			&:hover {
				opacity: 0.7;
			}
		}
	}

	.footer_bottom {
		color: #608fbf;
		font-size: 1.2rem;
		text-align: left;
		padding: 19px 0;
	}
}
