@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

/*------------------------------------------------------------
	display flex
------------------------------------------------------------*/
.flexCenter {
	display: flex;
	justify-content: center
}

.flexAround {
	display: flex;
	justify-content: space-around;
}

.flexBetween {
	display: flex;
	justify-content: space-between
}

.flexStart {
	display: flex;
	justify-content: start;
}

.flexEnd {
	display: flex;
	justify-content: end;
}

/*------------------------------------------------------------
	BACKGROUND-COLOR
------------------------------------------------------------*/
.bg-gray {
	background-color: #f5f5f5;
}

/*------------------------------------------------------------
	WIDTH
------------------------------------------------------------*/
.w100 {
	width: 100%;
}

.w132 {
	width: 132px;
}

.w180 {
	width: 180px;
}