@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	TITLE
------------------------------------------------------------*/
	.c-title {
		padding: 80px 0 32px;
		align-items: baseline;

		img:last-child {
			margin-left: 15px;
		}
	}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
	.button {
		border-radius: 3px;
		align-items: center;
		a {
			color: #fff;
			cursor: pointer;
		}
	}

	.btn-submit--1 {
		margin-top: 19px;
		background-color: #015294;
	}

	.btn-submit--2 {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #0291aa;
	}

	.btn-submit--3 {
		margin-top: 12px;
		width: 100%;
		background-color: #fff;
	}

	.btn-submit--4 {
		width: 260px;
		font-size: 1.5rem;
		box-sizing: border-box;
		transition: background 0.3s ease-in-out;
		a {
			width: 100%;
			border-radius: 3px;
			background-color: #0291aa;
			align-items: center;
			padding: 17px 0;
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      	font-weight: 700;
			&:after {
				content:'';
				display: block;
				width: 10px;
				height: 7px;
				background: url('../img/arrow_down.png') no-repeat;
				margin-left: 30px;
				transition: 0.3s ease-in-out;
			}
		}

		&:hover {
			box-sizing: border-box;
			a {
				background-color: #fff;
				color: #0291aa;
				box-shadow: inset 0px 0px 0px 2px #0291aa;
				transition: background 0.3s ease-in-out;
				&:after {
					display: block;
					transition: 0.3s ease-in-out;
					background: url('../img/arrow_down_hover.png') no-repeat;
				}
			}
		}

		&:nth-of-type(2) {
			margin: 0 40px;
		}


		.active {
			background-color: #fff;
			box-shadow: inset 0px 0px 0px 2px #0291aa;
			color: #0291aa;
			&:after {
				transition: 0.3s ease-in-out;
				background: url('../img/arrow_down_hover.png') no-repeat;
			}
		}
	}

	.btn-submit--5 {
		margin: 52px 0 130px;
		background: #0291aa;
		padding: 18px 60px;
		border-radius: 3px;
		&:hover {
			background: #00798e;
		}
	}

/*------------------------------------------------------------
	C-BOX
------------------------------------------------------------*/
	.c-box {
		display: flex;
		justify-content: space-between;
		padding: 80px 0;
		&__text {
			width: 50%;
			text-align: left;
			min-height: 353px;
			.inside {
				width: 470px;
				height: 100%;
				position: relative;
				font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      		font-weight: 500;
				&__right {
					margin-right: 70px;
					float: right;
				}

				&__left {
					margin-left: 70px;
					float: left;
				}
			}

			.row-1 {
				padding-bottom: 19px;
				margin-bottom: 20px;
				border-bottom: 1px solid #015294;
			}

			.row-2 {
				font-size: 1.4rem;
				p {
					margin-bottom: 25px;
				}
			}
		}
		&__img {
			width: 50%;
			// img {
			// 	width: 100%;
			// 	height: 353px;
			// }
		}
		.photoCompany {
			background: url('../img/pic1.png') no-repeat center center;
			background-size: cover;
		}

		.photoCase {
			background: url('../img/pic2.png') no-repeat center center;
			background-size: cover;
		}

		.photoRecruit {
			background: url('../img/pic3.png') no-repeat center center;
			background-size: cover;
		}
	}

/*------------------------------------------------------------
	C-BOX-2
------------------------------------------------------------*/
	.c-box-2 {
		text-align: left;
		padding: 60px 0;
		&--title {
			margin-bottom: 25px;
			h2 {
				color: #025995;
				font-size: 2rem;
				border-bottom: 1px solid #025995;
				padding-bottom: 10px;
				margin-bottom: 8px;
			}
			h3 {
				color: #009fbb;
				font-size: 1.4rem;
				align-items: center;
				img {
					margin-right: 10px;
				}
			}
		}

		&--list {
			font-size: 1.4rem;
			.box__text {
				p:nth-of-type(2) {
					margin: 25px 0;
				}
			}
			.box__img {
				margin-left: 62px;
			}
		}

		&:first-child {
			margin-top: 60px;
		}

		&:last-child  {
			margin-bottom: 100px;
		}
	}

/*------------------------------------------------------------
	C-BOX-3
------------------------------------------------------------*/
	.c-box-3 {
		text-align: left;
		padding: 40px;
		border: 1px solid #009fbb;
		box-sizing: border-box;
		align-items: baseline;
		margin-bottom: 80px;
		&__text {
			font-size: 1.4rem;
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      	font-weight: 500;
			h2 {
				font-size: 2rem;
				color: #025995;
				display: flex;
	    		align-items: center;
	    		margin-bottom: 18px;
				&:before {
					content: '';
					display: block;
					width: 17px;
					height: 17px;
					background-color: #009fbb;
					margin-right: 7px;
				}
			}

			p {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__img {
			margin-left: 45px;
		}

		&:first-child {
			margin-top: 120px;
		}

		&:last-child {
			margin-bottom: 130px;
		}
	}

/*------------------------------------------------------------
	C-BOX-4
------------------------------------------------------------*/
	.c-box-4 {
		align-items: baseline;
		text-align: left;
		margin: 120px auto 88px;
		&__img {
			width: 357px;
			height: 238px;
			img {
				width: 100%;
			}
		}

		&__text {
			font-size: 1.4rem;
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      	font-weight: 500;
			img {
				margin-bottom: 15px
			}

			p:last-child {
				margin-top: 24px;
			}
		}
	}

/*------------------------------------------------------------
	C-BOX-5
------------------------------------------------------------*/
	.c-box-5 {
		text-align: left;
		font-size: 1.4rem;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
		p:last-child {
			margin: 25px 0 80px;
		}
	}
/*------------------------------------------------------------
	C-COMPANY in COMPANY SITE
------------------------------------------------------------*/
	.c-company {
		text-align: left;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
		&__text {
			font-size: 1.4rem;
			margin-bottom: 25px;
			
			p {
				margin-bottom: 25px;
			}
		}

		&__sign {
			text-align: right;
			margin-bottom: 38px;
		}

		&__form {
			padding-bottom: 80px;
		}

		&__intro {
			flex-wrap: wrap;
			margin-bottom: 24px;
			.intro-box {
				&__img {
					width: 249px;
					height: 178px;
					background: url('../img/company/bg_img.png') no-repeat;
				}
				&__text {
					text-align: center;
					margin: 10px 0 50px;
					font-size: 1.4rem;
				}
			}
		}

		.map {
			width: 100%;
			padding-bottom: 130px;
		}
	}

	.company__greeting {
		padding: 40px 0;
	}

/*------------------------------------------------------------
	FORM
------------------------------------------------------------*/
	.form__info {
		border-collapse: collapse;
		font-size: 1.4rem;
		width: 100%;
		text-align: left;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
		tr {
			border-top: 1px solid #d4d4d4;
			td {
				padding: 25px 0 25px 39px;
			}
			.col-left {
				background-color: #e7f5ff;
				width: 216px;
				vertical-align: baseline;
				color: #025995;
			}

			.col-right {
				background-color: #fff;
			}
			&:last-child {
				border-bottom: 1px solid #d4d4d4;
			}
		}
	}

	.form-2 {
		width: 100%;
		margin-top: 23px;
		text-align: left;
		border-collapse: collapse;
		font-size: 1.4rem;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;
		input[type="text"], textarea, select {
			box-sizing: border-box;
			height: 51px;
			border: 1px solid #eaeaea;
			margin-bottom: 7px;
			padding-left: 20px;
		}

		::-webkit-input-placeholder, option { /* Chrome/Opera/Safari */
		  color: #b6b6b6;
		}

		input[type="radio"] {
			margin: 17px 0;
		}

		select {
			background-image: url('../img/btn_select.png');
			background-repeat: no-repeat;
			background-color: #fff;
			background-position: right;
			appearance: none;
		}

		textarea {
			height: 153px;
			margin-bottom: 80px;
			padding-top: 15px;
		}

		.col-left {
			width: 200px;
			vertical-align: baseline;
			color: #025995;
			padding-top: 16px;
			h2 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:after {
					content: '必須';
					color: #fff;
					background-color: #0362a8;
					width: 41px;
					height: 23px;
					text-align: center;
					font-size: 1.4rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.col-right {
			padding-left: 32px;
			label {
				font-weight: bold;
			}

			.text-1 {
				margin: 0 11px;
			}
			.text-2 {
				margin-left: 6px;
				&:nth-of-type(1) {
					margin-right: 74px;
				}
			}
		}
	}

/*------------------------------------------------------------
	C-CASE__BTN in CASE SITE
------------------------------------------------------------*/
	.c-case__btn {
		margin: 120px 0 80px;
	}

	.c-case {
		text-align: left;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      font-weight: 500;

		&__title {
			text-align: center;
			h2 {
				font-size: 2.3rem;
				color: #025995;
				border-bottom: 1px solid #025995;
				padding-bottom: 10px;
				margin-bottom: 60px;
			}
		}

		&__content {
			margin-bottom: 80px;
			&__title {
				background: #e1f0fa;
				color: #025995;
				padding: 12px 0 14px 15px;
				font-size: 2rem;
				margin-bottom: 30px;
			}

			&:last-child {
				margin-bottom: 130px;
			}

			.product__text {
				width: 570px;
				text-align: left;
				border-collapse: collapse;
				font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      		font-weight: 500;
				tr {
					border-bottom: 1px solid #d8d7d7;
					&:first-child {
						border-top: 1px solid #d8d7d7;
					}
				}
				td {
					padding: 18px 0;
					font-size: 1.4rem;
				}

				.left {
					color: #025995;
					padding-left: 30px;
				}
			}
		}

		&__product {
			display: none;
		}

		.tab_active {
			display: block;
		}
	}

/*------------------------------------------------------------
	C-RECRUIT
------------------------------------------------------------*/
	.c-form--recruit {
		margin-top: 12px;
		padding-bottom: 80px;
	}

	.c-banner--recruit {
		.container {
			height: 243px;
			background: url('../img/recruit/banner_guy.png') no-repeat;
			text-align: left;
			padding: 36px 0 40px;
			.title-img {
				margin: 0 0 30px 40px;
			}

			button {
				margin-left: 40px;
				border-radius: 3px;
				background-color: transparent;

				&:hover {
					.none {
						display: none;
						transition: all 1s;
					}
					.hover {
						display: block;
						transition: all 1s;
					}
				}
				.none {
					display: block;
					transition: all 1s;
				}
				.hover {
					display: none;
					transition: all 1s;
				}
			}
		}
	}