@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.c-cover {
	img {
		width: 100%;
	}
}

.cover_index {
	background: url('../img/main_img.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 756px;
}
/*------------------------------------------------------------
	C-CONTENT
------------------------------------------------------------*/
.c-content{}

/*------------------------------------------------------------
	C-NEWS
------------------------------------------------------------*/
.c-news {
	background-color: #e7f5ff;
	margin: 100px 0 20px;
	padding: 50px 0 54px;

	&__right {
		margin-left: 70px;
		font-size: 1.3rem;
		font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-weight: 500;
		.row {
			margin-bottom: 32px;
			align-items: center;
			.date {
				color: #0361a7;
				margin-right: 48px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}